body{
    background-color: pink;
    background-position: center;
    color: black;
}

nav ul{
    background-color:black;
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: 20px;
}

nav li{
    display: inline;
    margin: 20px;
}

#profile-image{
    width:250px;
    border:5px soliu black;

}

#side{
    width: 20%;
    float: right;
    height: 100%;
    padding: 20px;
}